/* #Tip rem and em do NOT depend on html font-size in media queries! 
Instead, 1rem = 1em = 16px  */

/****************************************/
/* BELOW 1344px (Smaller desktops) */
/****************************************/

@media (max-width: 84em) {
  /* Game */

  .label {
    font-size: 2.4rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }

  .turn-btns {
    gap: 25px;
  }

  .btn--icon {
    height: 6.2rem;
    width: 6.2rem;
  }

  .brake,
  .lever {
    width: 5.2rem;
  }

  .accel-frame,
  .accel-line,
  .mph {
    width: 15rem;
    height: 15rem;
    transform: translate(0, 3rem);
  }

  .mph {
    font-size: 1.8rem;
  }
}

/****************************************/
/* BELOW 850px */
/****************************************/

@media (max-width: 53em) {
  /* Game Menu */

  .game-menu--middle {
    width: 70%;
    gap: 15px;
  }

  /* Game */

  .label {
    font-size: 2rem;
  }

  .turn-btns {
    gap: 15px;
  }

  .btn--icon {
    height: 5.2rem;
    width: 5.2rem;
  }

  .speed-btns {
    gap: 15px;
  }

  .brake,
  .lever {
    width: 4.4rem;
  }

  .accel-frame,
  .accel-line,
  .mph {
    width: 11rem;
    height: 11rem;
    transform: translate(0, 10rem);
  }

  .mph {
    font-size: 1.4rem;
  }

  .health-bar {
    padding: 4% 0;
  }

  .health-background {
    width: 10rem;
    height: 1rem;
  }

  .health-value {
    transform: translate(-5rem);
  }
}

/****************************************/
/* BELOW 600px */
/****************************************/

@media (max-width: 37.5em) {
  /* Game Menu */

  .game-menu--middle {
    width: 90%;
    gap: 10px;
  }

  .car-specs-heading {
    font-size: 2rem;
    margin-bottom: 9.6px;
  }

  .car-specs-list {
    font-size: 1.4rem;
  }

  .game-start-img {
    width: 7.4rem;
  }
}

/****************************************/
/* BELOW 400px */
/****************************************/

@media (max-width: 25em) {
  /* General */

  .heading-primary {
    font-size: 2.4rem;
    line-height: 1.05;
    margin-bottom: 6.4rem;
  }

  .heading-secondary {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
  }

  /* Game Menu */

  .car-specs-heading {
    font-size: 1.6rem;
    margin-bottom: 9.6px;
  }

  .car-specs-list {
    font-size: 1.2rem;
  }

  /* Game */

  .game-pause-window {
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    padding: 3.5rem 4rem;
    transform: translate(-50%, -50%);
  }

  .btn-text {
    font-size: 1.2rem;
  }

  .coin-img {
    width: 3.6rem;
    height: 3.6rem;
  }

  .label {
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
  }

  .turn-btns {
    gap: 10px;
  }

  .btn--icon {
    height: 4.4rem;
    width: 4.4rem;
  }

  .speed-btns {
    gap: 10px;
  }
}

/****************************************/
/* BELOW 350px */
/****************************************/

@media (max-width: 22em) {
  .slide-car-img {
    height: 60%;
  }

  .game-pause-window {
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    padding: 2rem 2rem;
  }
}
