/* #Tip rem and em do NOT depend on html font-size in media queries! 
Instead, 1rem = 1em = 16px  */

/****************************************/
/* BELOW 1344px (Smaller desktops) */
/****************************************/

@media (max-width: 84em) {
  .btn--icon {
    height: 6.2rem;
    width: 6.2rem;
  }

  .brake,
  .lever {
    width: 5.2rem;
  }

  .accel-frame,
  .accel-line,
  .mph {
    width: 15rem;
    height: 15rem;
    transform: translate(0, 3rem);
  }

  .mph {
    font-size: 1.8rem;
  }
}

/****************************************/
/* BELOW 850px (Smaller desktops) */
/****************************************/

@media (max-width: 53em) {
  .btn--icon {
    height: 5.2rem;
    width: 5.2rem;
  }

  .brake,
  .lever {
    width: 4.4rem;
  }

  .accel-frame,
  .accel-line,
  .mph {
    width: 11rem;
    height: 11rem;
    transform: translate(0, 10rem);
  }

  .mph {
    font-size: 1.4rem;
  }

  .health-bar {
    padding: 4% 0;
  }

  .health-background {
    width: 10rem;
    height: 1rem;
  }

  .health-value {
    transform: translate(-5rem);
  }
}
