/****************************************/
/* Game Menu (Middle) */
/****************************************/

.game-menu--middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.game-menu--car-img {
  width: 4.4rem;
}

.game-start-img {
  width: 9.8rem;
}

/****************************************/
/* Game Components (Left Side) */
/****************************************/

.game-left-components {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 3.5% 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accelerometer {
  position: relative;
}

.accel-frame,
.accel-line,
.mph {
  width: 20rem;
  height: 20rem;
  position: absolute;
  transform: translate(0, 0);
}

.turn-btns {
  display: flex;
  gap: 30px;
}

.btn--icon {
  height: 7.4rem;
  width: 7.4rem;
  color: #194cb2;
}

.mph {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}

/****************************************/
/* Game Components (Middle) */
/****************************************/

.health-bar {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding: 2% 0;
}

.health {
  position: absolute;
  height: 1rem;
  border-radius: 1rem;
}

.health-background {
  width: 20rem;
  background-color: grey;
  transform: translate(-50%);
}

.health-value {
  background-color: #194cb2;
  transform: translate(-10rem);
}

/****************************************/
/* Game Components (Right Side) */
/****************************************/

.game-right-components {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 3.5% 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.high-score-pause-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label {
  font-size: 2.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.pause-icon {
  height: 5.2rem;
  width: 5.2rem;
  color: #e67e22;
}

.speed-btns {
  display: flex;
  gap: 20px;
}

.brake,
.lever {
  width: 7.4rem;
}

/****************************************/
/* Game Canvas */
/****************************************/

.game-canvas {
  display: flex;
  justify-content: center;
}

/****************************************/
/* Game Pause */
/****************************************/

.game-pause-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 9px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: all 0.5s;
}

.game-pause-title {
  grid-column: span 2;
  text-align: center;
}

.btn-resume {
  border-radius: 9px;
  background-color: #194cb2;
  color: #fff;

  padding: 1rem 2.4rem;
}

.btn-quit {
  border-radius: 9px;
  background-color: #f00;
  color: #fff;

  padding: 1rem 2.4rem;
}
